@charset "utf-8";

* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
/* header */
header {
    text-align: center;
}
header > h1 {
    margin: 20px;
    text-align: center;
}
.botoes {
    margin: 15px;
    background-color: maroon;
    color: white;
    padding: 5px;
    width: 250px;
    text-align: center;
    display: block;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
}
/* main */
h2:active {
    background-color: red;
}
a {
    color: white;
    text-decoration: none;
}
p {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
}